# Sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.log
*.tmp
*.swp
*.bak

# Editor configs
.vscode/
.idea/

# Node (caso use algum build com npm)
node_modules/
dist/
build/

# Cache
.cache/

#variáveis de ambiente
.env
.env.local
.env.development
.env.test
.env.production